* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px steelblue solid;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 80px;
    border-radius: 8px;
}

.btn-second {
    background-color: steelblue;
    color: white;
    border: 2px steelblue solid;
    border-radius: 30%;
    padding: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}